[part="backdrop"] {
    background-image: linear-gradient(blue, white);

    background-size: cover;
}

[part="brand"] {

    background-image: linear-gradient(white, darkblue);
    //background-image: url("../../images/logos/18.png");
    background-size: cover;
}

[part="overlay"] {
    background-size: cover;
}