/*[part="backdrop"] {
    background-image: url(img/login-bg.jpg);
    background-color:red;
    background-size: cover;
}
*/
[part="brand"] {

    background-image: url(img/1.png)
    background-size: cover;
}